.load_more_button {
  text-align: center;
  padding-top: 20px;
}

.load_btn {
  margin: 0 auto;
}

.dropdown_country {
  padding: 10px;
}

@media only screen and (min-width: 550px) {
  .dropdown_country {
    display: flex;
  }
}

@media only screen and (max-width: 550px) {
  .dropdown_country {
    display: flex;
    flex-direction: column;
  }
}
