.card_cover {
  min-width: 200px;
  min-height: 200px;
}

@media only screen and (min-width: 550px) {
  .card_root {
    display: flex;
    max-height: 200px;
  }

  .card_details {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    width: calc(100% - 200px);
  }

  .card_button {
    width: max-content;
  }
}

.single_card {
  padding-block: 10px;
}

@media only screen and (max-width: 550px) {
  .card_details {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
  }

  .card_controls {
    margin: 0 auto;
  }

  .single_card_image {
    margin: 0 auto;
  }

  .card_button {
    width: 100%;
  }
}

.card_content {
  flex: 1 0 auto;
}

.card_controls {
  padding-bottom: 15px;
}
