.single_article_content {
  padding-top: 20px;
}

.single_article_details {
  padding-top: 20px;
}

.single_article_divider {
  padding-top: 20px;
}

.single_article {
  padding: 20px;
  margin: 0px 20px;
  background-color: white;
}

.single_article_full_content {
  padding-top: 20px;
}
